#demoButton {
  margin-left: 30%;
  margin-top: 200px;
  position: relative;
}

a.btn {
  box-shadow: none !important;
  webkit-box-shadow: none !important;
  width: 300px;
  max-width: 230px;
}

.hidden {
  display: none;
}

.recharge,
.activate {
  height: 80px !important;
  padding-top: 24px;
  width: 230px !important;
  margin: 20px;
  font-size: 22px;
  display: inline-block !important;
}

.recharge {
  position: fixed;
  left: 630px;
  top: 200px;
  margin-right: -4px !important;
  display: inline-block !important;
}

.activate {
  position: fixed;
  left: 400px;
  top: 200px;
}

.mobile-numer {
  padding-top: 24px;
  height: 80px !important;
  width: 200px !important;
  margin: 20px;
  font-size: 22px;
  display: inline-block !important;
  margin-left: 0;
}

a.mobile-number {
  position: fixed;
  top: 290px;
  left: 650px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control {
  height: 30px;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 130px;
}

.opaque {
  opacity: 0.5;
}